body {
	overflow-x: hidden;
    background: linear-gradient(-45deg, #1b1b1b, #333333);
    animation: GRADIENTBG 5s ease infinite;
}

@keyframes GRADIENTBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.shine {
    --start-color: #d628f9;
    --end-color: #ff0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-45deg , #d628f9, #ff0000, var(--start-color), var(--end-color));
    background-size: 400% 400%;
}
.social-button {
    display: inline-block;
    text-decoration: none;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    width: 300px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: .1px;
    white-space: wrap;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
}

.socials {
    display: flex;
    flex-direction: column;
}
